
<div class='container col-md-6'>
  <h1 class='text-center'> create an idea: </h1>

  <form id='newIdeaForm'>
    <div class="form-group">
      <label for="newIdeaTitle">title</label>
      <input type="text" class="form-control" id="newIdeaTitle" placeholder="title for idea">
    </br>
      <label for="newIdeaBody">description</label>
      <textarea class="form-control" rows="3" placeholder="description of idea" id="newIdeaBody"></textarea>
    </div>
  </form>
  <button type="button" class="btn btn-success" id='newIdeaButton'>Create</button>
</div>

<div class='container col-md-6'>
  <h1 class='text-center'> search for idea: </h1>

  <form id='searchIdeaForm'>
    <div class="form-group">
      <label for="searchIdeaTitle">Search</label>
      <input type="text" class="form-control" id="searchIdeaField" placeholder="search by title, body, or quality">
    </div>
  </form>
  <button type="button" class="btn btn-success" id='newIdeaButton'>Search</button>

  <h1 class="text-center"> my ideas: </h1>
  <div class='ideas-index'>
  </div>
</div>
