/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  // background-image: url('http://i.imgur.com/56RLRHQ.jpg');
  background-position: center;
  background-position: fixed;
}

.quality-idea{
  padding-bottom: 10px;
}

.downvote {
  margin-right:5px
}

.upvote{
  margin-left:5px
}

.btn-warning-idea {
  margin-left: 1vw;
}

.btn-update-idea {
  margin-left: 1vw;
}

.idea-quality {
  padding-top:5px;
  display:inline-block;
  float:right;
  height: 185px;
  width: 180px;
  text-align: center;
}

.title-idea {
  display:inline-block;
}

.idea {
  height: 185px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: inline-block;
  // background: rgba(0, 0, 0, 0.5);
  // color: white;
}
